.footerdosite{

    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;

}

.footerdositetodo {

    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;

}

